/* Add CSS Styling */
 .odd {
    background-color: rgb(224, 140, 147);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
 }

 #second {
    color: rgb(27, 15, 189);
    font-size: 36px;
 }

  .third {
    font-size: 24px;
  }