body {
  background: hsl(0, 0%, 93%);
  font-family: sans-serif;
}

.card {
  width: 450px;
  background: #fff;
  margin: 16px auto;
  padding: 15px 10px 10px;
}

.title {
  background: #e3f4ff;
  padding: 15px;
  margin: 15px 0 10px;
}

.content {
  background: #e3f4ff;
  padding: 15px;
  margin: 10px 0;
}

.button-container {
  background: #e3f4ff;
  padding: 15px 125px;
  margin: 10px auto 0;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  text-align: center;
  padding: 10px 20px;
  margin: 0 38px;
}